<% @students.each do |student| %>
  <p>Name: <%= student.pretty_name  %></p>
  <p>House: <%= student.house  %></p>
  <p>Age: <%= student.age  %></p>
  <p><a href="/students/<%= student.id %>">Show details</a></p>
  <hr>
<% end %>
