<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwarts</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap" rel="stylesheet">

  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/students">All Students</a>
        </li>
        <li>
          <a href="/students/new">Add New Student</a>
        </li>
      </ul>
    </nav>


    <div>
    <%= yield %>
    </div>
  </body>
</html>
