<form method="post" action="/students">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  />
  <br/>


  <label for="second-name-field">Second Name:</label>
  <input
  type="text"
  name="second_name"
  id="second-name-field"
  />
  <br/>


  <label for="house">Select a house:</label>
  <select name="house" id="house">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenlaw">Ravenlaw</option>
  </select>

  <br/>

  <label for="age-field">Age:</label>
  <input
  type="number"
  name="age"
  id="age-field"
  />

  <br/>


  <input type="submit" value="Add New Student">
</form>
