<p>First Name: <%= @student.pretty_name %></p>

<p>Second Name: <%= @student.house %></p>

<p>House: <%= @student.age %></p>

<form method="post" action="/students/<%= @student.id %>/delete">
<input type="submit" value="Delete Student"/>
</form>
